@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    background-color:rgb(45, 110, 45);
}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a:hover{
    color: red;
}
.navlinks{
    display: flex;
    align-items: center;
}
/**********************************Right Nav*****************************/
.right-nav{
    width: 80%;
    text-align: right;
    padding:0 25px ;
}
.right-nav input{
    padding: 5px 10px;
    border: none;
    outline: none;
    margin-top: 16px;
    border-radius: 5px;
}
.right-nav button{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    text-align: center;
    font-size: 13px;
    background-color: purple;
    color: white;
    font-weight: 600;

}

/********************Main Section Design************/
.background{
    background: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}   
.first-section{
    height: 100vh;
}
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    line-height: 2;
    flex-direction: column;
    width: 50%;
    padding:50px;
    margin: auto;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}
.first-half{
    width: 80%;
   display: flex;
   flex-direction: column;

}
.buttons button{
    padding: 10px 20px;
    background-color:rgb(139, 45, 139);
    text-align: center;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size:16px;
    margin:10px;
}
.buttons button:hover{
    background-color: rgb(226, 25, 65);
    cursor: pointer;
    outline:2px solid transparent;
    border: none;
}